@import './sass/fonts.scss';
@import './sass/variables.scss';
@import './sass/mixins.scss';

// RESETS

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
label,
input {
  font-family: $helvetica;
  text-transform: lowercase;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

// INITIALIZATIONS

a {
  text-decoration: none;
  &:active {
    text-decoration: none;
  }
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .mainAndSideWrapper {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 82.5%;
    overflow-y: scroll;
    @include clearScroll;

    // padding: 2rem;
    @include for-sml-tablet() {
      display: flex;
    }
  }
}

.loading-screen {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@import './components/Header/Header.scss';
@import './components/Sidebar/Sidebar.scss';
@import './components/Main/Main.scss';
@import './components/Post/Post.scss';
@import './components/Category/Category.scss';
