@mixin for-sml-phone {
  @media (max-width: $breakpoint-phone-sml) {
    @content;
  }
}
@mixin for-lg-phone {
  @media (max-width: $breakpoint-phone-lg) {
    @content;
  }
}
@mixin for-sml-tablet {
  @media (max-width: $breakpoint-tablet-sml) {
    @content;
  }
}
@mixin for-lg-tablet {
  @media (max-width: $breakpoint-tablet-lg) {
    @content;
  }
}
@mixin for-sml-desktop {
  @media (max-width: $breakpoint-desktop-sml) {
    @content;
  }
}
@mixin for-lg-desktop {
  @media (min-width: $breakpoint-desktop-lg) {
    @content;
  }
}

@mixin if-hover {
  @media (hover: hover) {
    /* when hovers supported supported */
    @content;
  }
}

@mixin fadeIn($duration) {
  animation: fadeIn $duration ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin logo() {
  position: relative;
  letter-spacing: -2px;
  color: $mld-red;
  font-weight: 500;
  font-size: 2.5rem;
  // border-bottom: 4px solid;
  width: max-content;
  cursor: pointer;

  &::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0.4rem;
    left: 0;
    background-color: $mld-red;
  }
}

@mixin clearScroll() {
  &::-webkit-scrollbar {
    width: 0px;
    // border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button {
    background-color: transparent;
  }
}

@mixin scrollBarStyles($width, $color) {
  &::-webkit-scrollbar {
    width: $width;
    // border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(246, 246, 246);
  }

  &::-webkit-scrollbar-thumb {
    // background-color: rgb(220, 220, 220);
    background-color: $color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button {
    background-color: transparent;
  }
}
