// fonts
$helvetica: 'Helvetica Neue LT Std';

// colors
$mld-red: #800000;
$d-grey: #282828;
$m-grey: #7a7a7a;
$l-grey: #e8e8e8;

// breakpoints
$breakpoint-desktop-lg: 1600px;
$breakpoint-desktop-sml: 1200px;
$breakpoint-tablet-lg: 1024px;
$breakpoint-tablet-sml: 768px;
$breakpoint-phone-lg: 530px;
$breakpoint-phone-sml: 400px;
