.Main {
  padding: 2rem;
  overflow-y: scroll;
  height: 100%;
  min-height: max-content;

  scroll-behavior: smooth;
  @include scrollBarStyles(5px, rgb(175, 175, 175));

  @include for-sml-tablet() {
    padding: 1.5rem;
  }
}
