.Main {
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 2rem;
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
  scroll-behavior: smooth;

  div {
    height: 100%;
  }

  .aaa {
    background-color: black;
  }
}
