.Main {
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 2rem;
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
  scroll-behavior: smooth;

  @include for-sml-tablet() {
    padding: 1.5rem;
  }
}
