.Header {
  padding: 2rem;
  background-color: $l-grey;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    @include logo;
  }

  .tagline {
    color: $d-grey;
    font-weight: 500;
    font-size: 1.4rem;

    i {
      margin-left: 0.5rem;
    }
  }
}
